{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="main" class="center">
    {{ .Content }}
  </div>
  
  <div>
  <center>
  {{ $asset := resources.Get "/avoidome_dmpk_structures.png" }}
  {{ $img := $asset.Fit "1000x600" }}
  <figure>
    <img alt="Structural proteins in the AVOID-OME" src="{{ $img.RelPermalink }}" />
  </figure>
  </center>
  </div>

<!-- want to get involved -->
  <div id="hero">
    <hr>
    <h3>If you would like to get involved contact us <a href="mailto:saumya.krishnan@ucsf.edu">here</a> </h3> 
    <h3><a href="https://pelosi.house.gov/news/press-releases/pelosi-announces-305-million-ucsf-research-drug-side-effect-prevention">Congressional Support for OpenADMET</a> </h3>
    <h3>An <a href="https://arpa-h.gov/">ARPA-H funded project (Grant Number: 1AY1AX000035-01)</a></h3> 
  </div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
