{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="main">
{{.Content}}

<!-- Investigators -->

<h2>Principal Investigators</h2>


<ul>
{{ range $.Site.Data.members }}
  {{if .active}}
  {{ if in .role "Principal Investigator" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
{{ end }}
</ul>


<!-- Project Leads -->

<h2>Project Leads</h2>

<ul>

  {{ range $.Site.Data.members }}
  {{if .active}}
  {{ if in .role "Project Director" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
{{ end }}

{{ range $.Site.Data.members }}
  {{if .active}}
  {{ if in .role "Project Lead" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
{{ end }}

</ul>


<!-- Investigators -->

<h2>Co-Investigators</h2>

<ul>
{{ range $.Site.Data.members }}
{{if .active}}
  {{ if in .role "Co-Investigator" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
{{ end }}
</ul>

<!-- Scientists -->
{{ $scientist_roles := slice "Scientist" "Scientific Coordinator" "Post Doc" "Research Assistant" "Other Personnel" }}
{{ $other_roles := slice "Principal Investigator" "Project Lead" "Core Lead" "Co-Investigator" "External Scientific Advisory Board Member" "Internal Scientific Advisory Board Member" "Project Director" }}

<h2>Scientists and Collaborators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{if .active}}
  {{ if not (in $other_roles .role) }}
    {{ if not (in .lab "Administrative Core") }}
      {{ partial "person" . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
</ul>



<!-- End -->

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}