<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate">
    <meta
            content="" name="author">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>OpenAdmet</title>
    <!-- <link href="./main.css" rel="stylesheet"></head> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

    <style>
        .sponsor-logo-img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .profiles-container {
            display: flex;
            justify-content: center; /* Center the profiles horizontally */
            gap: 20px; /* Add space between the profiles */
        }

        .profile-container {
            text-align: center; /* Center the content */
        }

        .circular-image img {
            border-radius: 50%;
            width: 200px; /* Adjust the size as needed */
            height: 200px; /* Adjust the size as needed */
        }

        .name {
            margin-top: 10px; /* Add space between the image and the name */
            font-size: 16px; /* Adjust the font size as needed */
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-black bg-black text-white sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#community">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#resources">Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hero d-flex justify-content-center align-items-center text-white text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
<div id="about" class="features py-5 bg-light">
    <div class="container">
        <div class="row pb-3 mb-3 pb-sm-1 mb-sm-1">
            <div class="col-sm-12 col-lg-12">
                <hr style="height:10px;border:none;color:#2f9ddb;">
                <h2 class="display-5 text-center">About</h2>
            </div>
        </div>
        <div class="row text-black text-center">
            <p>OpenADMET is an organization with the mission to build open predictive models of safety and toxicity for small molecules to improve humanity's ability to more reliably, cheaply, and effectively treat disease.</p>
        </div>
        <div class="row pb-3 mb-3 pb-sm-1 mb-sm-1">
            <div class="col-sm-12 col-lg-12">
                <hr style="height:10px;border:none;color:#2f9ddb;">
                <h2 class="display-5 text-center">People</h2>
            </div>
        </div>
        <!-- WTAT -->
        <div class="row gx-4 gx-lg-5 d-flex justify-content-center pt-5">
            <h2 class="card-title">Principal Investigators</h2>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="profile-container">
                            <div class="circular-image">
                                <img src="/images/people/james_fraser.jpeg" alt="James Fraser">
                            </div>
                            <div class="name">
                                James Fraser<br>
                                Program Director, Principal Investigator<br>
                                <a href="https://www.linkedin.com/in/jamessfraser/">Linkedin</a><br>
                                University of California San Francisco
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="profile-container">
                            <div class="circular-image">
                                <img src="/images/people/john_chodera.jpeg" alt="John D. Chodera">
                            </div>
                            <div class="name">
                                John D. Chodera<br>
                                Principal Investigator<br>
                                <a href="https://www.linkedin.com/in/john-chodera-5287a8120/">Linkedin</a><br>
                                Memorial Sloan Kettering Cancer Center
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="projects" class="qrcode py-5 bg-light">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12">
                <h1 class="text-center">Funded Projects</h1>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <h4>AVOID-OME</h4>
                <p>Building functional and structural datasets to better predict how metabolic anti-targets interact with and transform small molecules</p>
                <a href="https://arpa-h.gov/">ARPA-H Grant Number: 1AY1AX000035-01</a>
            </div>
            <div class="col-md-4 mb-5">
                <h4>Computational Prediction</h4>
                <p>Improving compound property prediction and structurally enabling key toxicity and distribution targets in collaboration with Schrodinger</p>
                <a href="https://www.gatesfoundation.org/">Gates Foundation</a>
            </div>
            <div class="col-md-4 mb-5">
                <h4>OpenAMR</h4>
                <p>Improving property prediction for antimicrobials</p>
                <a href="https://www.gatesfoundation.org/">Gates Foundation</a>
            </div>
            <div class="col-md-4 mb-5">
                <h4>Scaling Metabolism</h4>
                <p>Scaling functional assays on CYP metabolism and driving blind challenges</p>
                <a href="https://astera.org/">Astera</a>
            </div>
        </div>
    </div>
</div>
<div id="community" class="news py-5">
    <div class="container px-4 px-lg-5">
        <!-- Content Row-->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Community</h1>
            </div>
        </div>
        <p>TODO</p>
    </div>
</div>
<div id="resources" class="teamarea py-3 bg-light">
    <div class="container px-4 px-lg-5">
        <!-- Content Row-->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Resources</h1>
            </div>
        </div>
        <p>TODO</p>
    </div>
</div>
<footer class="text-white bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-white">About us</h4>
                <p>OpenADMET is an organization with the mission to build open predictive models of safety and toxicity for small molecules to improve humanity’s ability to more reliably, cheaply, and effectively treat disease.</p>
            </div>
            <div class="col-lg-6">
                <div>
                    <p>
                        <small>© 2025 OpenAdmet
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
